{% extends 'base.html' %}

{% block title %}Issue List{% endblock %}

{% block content %}
    <h1>Issue List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Summary</th>
                <th>Status</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for issue in issues %}
            <tr>
                <td>{{ issue.summary }}</td>
                <td>{{ issue.status.name }}</td>
                <td>
                    {% for type in issue.types.all %}
                        {{ type.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a class="text-warning" href="{% url 'issue_detail' issue.pk %}">View</a> |
                    <a class="text-warning" href="{% url 'issue_update' issue.pk %}">Edit</a>
                    {% if perms.webapp.delete_issue %}
                    <a class="text-warning" href="{% url 'issue_delete' issue.pk %}">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
