{% extends 'base.html' %}

{% block title %}Log-In{% endblock %}
{% block content %}
    <h1>Log-in</h1>
    <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
        {% if has_error %}
            <p class="form-error text-danger">Incorect username or password</p>
        {% endif %}


        <div class="row g-3 align-items-center mt-3">
  <div class="col-auto">
    <label for="username" class="col-form-label">login</label>
  </div>
  <div class="col-auto">
    <input type="text" id="username" name="username" class="form-control" aria-describedby="username">
  </div>
  <div class="col-auto">
    <span id="username" class="form-text">
      Must be 8-20 characters long.
    </span>
  </div>
</div>
    <div class="row g-3 align-items-center mt-4">
  <div class="col-auto">
    <label for="password" class="col-form-label">Password</label>
  </div>
  <div class="col-auto">
    <input type="password" id="password" name="password" class="form-control" aria-describedby="passwordHelpInline">
  </div>
  <div class="col-auto">
    <span id="password" class="form-text">
      Must be 8-20 characters long.
    </span>
  </div>
</div>

    <button type="submit" class="btn btn-warning mt-3">Send</button>


    </form>



{% endblock %}
