{% extends 'base.html' %}

{% block title %}Project Detail{% endblock %}

{% block content %}
    <h1>{{ project.name }}</h1>
    <p>{{ project.description }}</p>
    <p>Start Date: {{ project.start_date }}</p>
    <p>End Date: {% if project.end_date %}{{ project.end_date }}{% else %}не указано{% endif %}</p>
    <ul class="nav">
        <h2>Issues</h2>
        <li class="nav-item">
            <a class="nav-link text-warning" href="{% url 'issue_create' project.pk %}">Create new issue</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-warning"  href="{% url 'project_update' project.pk %}">Edit project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-warning"  href="{% url 'project_delete' project.pk %}">Delete project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-warning" href="{% url 'project_update_users' project.pk %}">Update project users</a>
        </li>
    </ul>

    {% if issues %}

        <table class="table">
        <thead>
            <tr>
                <th>Summary</th>
                <th>Status</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for issue in issues %}
            <tr>
                <td>{{ issue.summary }}</td>
                <td>{{ issue.status.name }}</td>
                <td>
                    {% for type in issue.types.all %}
                        {{ type.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a class="text-warning" href="{% url 'issue_detail' issue.pk %}">View</a> |
                    <a class="text-warning" href="{% url 'issue_update' issue.pk %}">Edit</a> |
                    <a class="text-warning" href="{% url 'issue_delete' issue.pk %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}

        <p>No issues found</p>

    {% endif %}

{% endblock %}